# Runtime data
postgres-data/
kafka-data/
checkpoints/
savepoints/

# Python env
venv/
.venv/

# JARs
*.jar

# Trino & Flink runtime
iceberg/flink/usrlib/
iceberg/flink/lib/
iceberg/flink/plugins/
iceberg/trino/plugin/
iceberg/trino/data/

# Logs & temp
*.log
*.tmp
